footer {
    background-color: #f7f7f7;
    margin-top: 15rem;
}

nav a {
    font-size: 4rem;
    margin-right: 20px;
    color: #6d6d6d;
}

@media (max-width: 576px) {
    nav a {
        font-size: 2rem;
    }

    footer {
        margin-top: 5rem;
    }
}